:root {
	--back-color: #fff1e5;
	--acc1-color: #2c2c2c;
	--acc2-color: #fff;
	--acc3-color: #c8c1db;
	--text-color: #202020;
}

body {
	background-color: var(--back-color);
	color: var(--text-color);
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

main {
	padding-top: 10px;
    padding-bottom: 60px; /* Add padding to the bottom of the main content to prevent overlap with the footer */
}

#navbar{
	width: 100%;
}

nav {
	color: var(--acc2-color);
	background-color: var(--acc1-color);
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}
nav li {
	float: left;
}
nav li a {
    display: block;
    padding-top: 22px; 
    padding-bottom: 22px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    text-decoration: none;
    color: var(--acc2-color);
    font-size: 20px;
}

a:hover {
	box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.17);
}

nav #logo {
    background-color: transparent;
}

#logo {
    position: absolute;
    top: -45px; 
    right: -40px; 
    height: 20%; 
}

#logo img {
    height: 100%;
}


.heading {
    text-align: center;
    padding: 10px;
    background-color: var(--acc3-color);
    border-bottom: 3px solid var(--text-color);
}

.heading h1 {
    margin: 0;
    font-size: 2em;
    color: var(--text-color);
}

.member {
    text-align: center;
    margin-bottom: 40px;
	padding-top: 10px;
}


.member img:hover {
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Increases the intensity of the box-shadow on hover */
}

.member p {
	width: 75%;
	display: inline-block;
}

/* Dakota's custom styles */
.member .dakota {
    width: 150px;
    height: 150px;
    border-radius: 50%;
	object-position: center top;
    object-fit: cover;
}

/* Anthony's custom styles */
.member .anthony {
    width: 150px;
    height: 150px;
    border-radius: 50%;
	object-position: center top;
    object-fit: cover;
}

/* John's custom styles */
.member .john {
    width: 150px;
    height: 150px;
    border-radius: 50%;
	object-position: center top;
    object-fit: cover;
}

/* Kevin's custom styles */
.member .kevin {
    width: 150px;
    height: 150px;
    border-radius: 50%;
	object-position: center top;
    object-fit: cover;
}

.member h3 {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 5px;
}

.member p {
    font-size: 1em;
    margin: 0;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--acc3-color);
	text-align: center;
	color: var(--text-color);
	text-decoration: none!important;
	line-height: 0.5;
	border-style: solid;
	border-width: 3px;
	border-left: #2c2c2c;
  }


