:root {
	--back-color: #fefae8;
	--acc1-color: #2c2c2c;
	--acc2-color: #fff;
	--acc3-color: #17a0a9;
	--text-color: #202020;
}

body {
	background-color: var(--back-color);
	color: var(--text-color);
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

main {
    padding-bottom: 60px; /* Add padding to the bottom of the main content to prevent overlap with the footer */
}

/* ----------- navagation bar syyle -------*/
nav {
    background-color: #333;
    overflow: hidden;
    height: 150px;
}

#nav_links {
    margin-right: 100px;
}
nav a {
    margin-top: 70px;
    float: right;
    color: #fff;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

nav a:hover {
    color: gray;
}

nav img {
    padding: 20px;
    height: 110px;
    float: left;
    background-color: transparent;
    color: white;
}
nav h1 {
    float: left;
    color: white;
    margin-left: 50px;
    margin-top: 80px;
    font-size: 40px;
}

/* ------- about page ------- */

.member {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 80px;
}

.member img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 50px;
}

.member h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: -10px;
}

.member p {
    text-align: center;
    flex: 1;
}

/* ------- home page ------- */
* main {
    margin: 0px 100px;
}
.intro {
    margin-bottom: 20px;
	padding-left: 10px;
}

.image img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow around the image */
    transition: box-shadow 0.3s ease; /* Smooth transition for the box-shadow on hover */
	width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.image {
    text-align: center;
    margin-bottom: 20px;
}

.image img:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Increases the intensity of the box-shadow on hover */
}

.cta {
    text-align: center;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: var(--acc1-color);
    color: var(--acc2-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
}

.cta-button:hover {
    background-color: var(--acc3-color);
}

.testimonials {
    margin-bottom: 20px;
	padding-left: 10px;
}

.testimonials h3 {
    margin-bottom: 10px;
}

blockquote {
    border-left: 5px solid var(--acc3-color);
    padding-left: 20px;
    font-style: italic;
    max-width: 700px; 
}

cite {
    display: block;
    font-style: normal;
    text-align: right;
}


footer {
	position: static;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--acc3-color);
	text-align: center;
	color: var(--text-color);
	text-decoration: none!important;
	line-height: 0.5;
	border-style: solid;
	border-width: 3px;
	border-left: #2c2c2c;
  }

#initialForm {
	width: 500px;
	margin: auto;
}

#errMessage{
	text-align: center;
}

#upper{
    width: 90%;
    margin: auto;
    border: solid;
    text-align: center;
    margin-top: 10px;
}

#upper td{
    border: solid;
}

#upperLeft{
    width: 20%;
}

#upperRight {
    width: 80%;
}

#lower{
    width: 90%;
    margin: auto;
    border: solid;
}

#lower tr {
    width: 100%;
}

#lower td {
    border: solid;
}
